@import "../../../../utils/all.scss";

@mixin itemStyle($bgc: white, $color: white) {
  text-align: center;
  background-color: $bgc;
  color: $color;
  border-top: 0.5px solid white;
  border-left: 0.5px solid white;
  border-radius: 4px;
  @include flexBox(center, center);
}

// 下面展示表格以及文件列表
.content6 {
  background-color: rgb(253, 253, 253);
  width: 100%;
  height: 78%;
  @include flexBox(flex-start, center);
  // 左边表格
  .content-left {
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgba(217, 217, 217, 0.4);
    @include flexBox(center, center);
    // 主体表格样式
    .table-border {
      width: 85%;
      height: 80%;
      border-radius: 4px;
      border: 1px solid rgb(176, 176, 176);
      @include flexBox(center, center);
      .content-table {
        width: 92%;
        height: 85%;
        // background-color: rgb(205, 170, 170);
        @include flexBox();
        flex-direction: column;
        // 表格头部一行小方块
        .headerIndex {
          width: 100%;
          height: 11.1%;
          @include flexBox();
          .headerItem {
            width: 11.1%;
            height: 100%;
            border-radius: 1px;
            @include itemStyle(rgb(44, 44, 66), rgb(247, 219, 5));
          }
        }

        .tbl-cnt {
          width: 100%;
          height: 89.9%;
          @include flexBox();
          // 右边一列下标样式
          .rightIndex {
            width: 11.1%;
            height: 100%;
            @include flexBox();
            flex-direction: column;
            .rightItem {
              width: 100%;
              height: 12.5%;
              border-radius: 1px;
              @include itemStyle(rgb(44, 44, 66), rgb(247, 219, 5));
            }
          }
          // 具体数据表格小方块
          .detail {
            width: 89.9%;
            height: 100%;
            .detailRow {
              width: 100%;
              height: 12.5%;
              @include flexBox();
              .detailItem {
                width: 12.5%;
                height: 100%;
                border-radius: 3px;
                @include flexBox();
                @include itemStyle(rgb(238, 238, 238), rgb(121, 121, 121));
              }
              .detailItem::selection,
              .detailItem:focus {
                color: rgb(8, 8, 8);
                background-color: rgb(255, 225, 0);
              }
            }
          }
        }
      }
    }
  }
  // 右边文件结果最大最小等的展示
  .content-right {
    width: 20%;
    height: 100%;
    @include flexBox(center, center);
    .cnt-rgt-res {
      width: 80%;
      height: 80%;
      @include flexBox(center, flex-start);
      .cnt-rgt-res-center {
        width: 95%;
        height: 70%;
        background-color: rgba(246, 246, 246, 0.5);
        border: 1px solid rgb(228, 228, 228);
        border-radius: 5px;
        @include flexBox();
        flex-direction: column;
        .head {
          width: 100%;
          height: 18%;
          background-color: rgb(21, 21, 59);
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          color: rgb(73, 202, 201);
          font-size: large;
          @include flexBox(center, center);
        }
        .value {
          width: 100%;
          height: 82%;
          @include flexBox(space-around);
          flex-direction: column;
          .top {
            width: 100%;
            height: 80%;
            @include flexBox(space-around, center);
            flex-direction: column;
            .val-item {
              width: 90%;
              height: 20%;
              border: 1px solid rgb(239, 239, 239);
              background-color: #fff;
              @include flexBox(space-between, center);
              .fang {
                width: 20%;
                height: 100%;
                @include flexBox(center, center);
                .center {
                  width: 45%;
                  height: 45%;
                  background-color: rgb(21, 21, 59);
                  border-radius: 4px;
                }
              }
              .val {
                width: 80%;
                height: 100%;
                font-size: medium;
                color: rgb(7, 199, 199);
                @include flexBox(flex-start, center);
              }
            }
          }
        }
      }
    }
  }
}
