@import "../../../utils/all.scss";

.Register {
  width: calc(100vw);
  height: calc(100vh);
  font-family: "Courier New", Courier, monospace;
  @include flexBox(center, center);
  .reg-center {
    width: 850px;
    height: 490px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 6px;
    border: 1px solid rgb(152, 205, 255);
    box-shadow: 0px 0px 10px 10px rgba(210, 210, 210, 0.2);
    @include flexBox(flex-start, center);
    flex-direction: column;
    .center-item {
      margin: 1px;
      width: 100%;
      height: 18%;
      line-height: 73px;
      @include flexBox(center, center);
      // 中间四行
      .cnt-item-center{
        width: 50%;
        height: 80%;
        // 文字和输入框的样式
        @include flexBox(flex-end, flex-end);
        .text{
          width: 22%;
          height: 100%;
          @include flexBox(center, flex-end);
          letter-spacing: 2px;
        }
        .input{
          width: 78%;
          height: 100%;
        }
        // 中间获取验证码
        .input-server{
          width: 56%;
          height: 100%;
        }
        .Btn{
          width: 22%;
          height: 100%;
          background-color: #fff;
          @include flexBox(center, flex-start);

        }
        // 最后重新设置密码
        .reset{
          width: 78%;
          height: 100%;
          @include flexBox(center, flex-start);

        }

      }
      // 注册按钮
      .reg-button-center {
        width: 35%;
        height: 55%;
        letter-spacing: 3px;
        font-size: 16px;
        margin-top: 18px;
        border-radius: 4px;
      }
    }
  }
}
