* {
  padding: 0;
  margin: 0;
  font-family: Microsoft JhengHei UI;
}

body {
  .root {
    min-width: calc(100vw);
    min-height: calc(100vh);
    max-width: calc(120vw);
    max-height: calc(120vh);
  }
}

@mixin flexBox($justify: space-between, $align: flex-start) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
