@import "../../../../utils/all.scss";

@mixin itemStyle($bgc: white, $color: white) {
  text-align: center;
  background-color: $bgc;
  color: $color;
  border-top: 0.5px solid white;
  border-left: 0.5px solid white;
  border-radius: 4px;
  @include flexBox(center, center);
}

// 下面展示表格以及文件列表
.content3 {
  background-color: rgb(253, 253, 253);
  width: 100%;
  height: 78%;
  @include flexBox(flex-start, center);
  // 左边表格
  .content-left {
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-right: 1px solid rgba(217, 217, 217, 0.4);
    @include flexBox(center, center);
    flex-direction: column;
    // 文字说明样式
    .textExplain {
      width: 90%;
      min-height: 15%;
      border-radius: 4px;
      padding: 10px 20px;
      font-size: 16px;
      font-family: "Microsoft JhengHei";
      color: rgb(22, 122, 149);
      background-color: rgb(252, 252, 252);
      border: 1px solid rgb(226, 226, 226);
    }
    .textExplain::selection {
      color: black;
      background-color: rgb(91, 202, 232);
    }
    // 主体表格样式
    .content-table {
      width: 90%;
      height: 75%;
      margin-top: 20px;
      border: 1px solid rgb(176, 176, 176);
      overflow: auto;
      .table-box {
        width: 16000px;
        height: 8995px;
        @include flexBox();
        flex-direction: column;
        // 表格头部一行标签
        .table-header {
          width: 100%;
          height: 0.4%;
          @include flexBox();
          .head-item {
            width: 0.39%;
            height: 100%;
            @include itemStyle(rgb(10, 10, 35), rgb(23, 204, 204));
            border-radius: 2px;
          }
        }
        // 表格文件内容样式
        .table-content {
          width: 100%;
          height: 99.6%;
          @include flexBox();
          // 内容中左边一列下标
          .tab-con-index {
            width: 0.39%;
            height: 100%;
            @include flexBox();
            flex-direction: column;
            .tab-con-indexItem {
              width: 100%;
              height: 0.39%;
              @include itemStyle(rgb(10, 10, 35), rgb(23, 204, 204));
              border-radius: 2px;
            }
          }
          //中间表格item
          .tab-con-content {
            width: 99.6%;
            height: 100%;
            @include flexBox();
            flex-direction: column;
            .tab-row-item {
              width: 100%;
              height: 0.39%;
              @include flexBox();
              .row-item-col {
                width: 0.39%;
                height: 100%;
                @include itemStyle(rgb(233, 233, 233), rgb(104, 104, 104));
              }
              .row-item-col::selection,
              .row-item-col:focus {
                color: rgb(8, 8, 8);
                background-color: rgb(255, 225, 0);
              }
            }
          }
        }
      }
    }
  }

  // 右边文件结果最大最小等的展示
  .content-right {
    width: 20%;
    height: 100%;
    @include flexBox(center, center);
    .cnt-rgt-res {
      width: 80%;
      height: 85%;
      @include flexBox(center, flex-start);
      .cnt-rgt-res-center {
        width: 95%;
        height: 39%;
        background-color: rgba(246, 246, 246, 0.5);
        border: 1px solid rgb(228, 228, 228);
        border-radius: 5px;
        @include flexBox();
        flex-direction: column;
        .head {
          width: 100%;
          height: 35%;
          background-color: rgb(10, 10, 35);
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          color: rgb(73, 202, 201);
          font-size: large;
          @include flexBox(center, center);
        }
        .value {
          width: 100%;
          height: 87%;
          @include flexBox(space-around);
          flex-direction: column;
          .top {
            width: 100%;
            height: 85%;
            @include flexBox(space-around, center);
            flex-direction: column;
            .val-item {
              width: 90%;
              height: 35%;
              border: 1px solid rgb(239, 239, 239);
              background-color: #fff;
              @include flexBox(space-between, center);
              .fang {
                width: 20%;
                height: 100%;
                @include flexBox(center, center);
                .center {
                  width: 45%;
                  height: 45%;
                  background-color: rgb(10, 10, 35);
                  border-radius: 4px;
                }
              }
              .val {
                width: 80%;
                height: 100%;
                font-size: medium;
                color: rgb(7, 199, 199);
                @include flexBox(flex-start, center);
              }
            }
          }
        }
      }
    }
  }
}
